@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}


.container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #11998e, #38ef7d); 
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}

.containt{
    background-color: white;
    width: 300px;
    /* height: 500px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;

    
}

.icon{
    margin: 20px 0;
}

.icon a {
    height: 80px;
    width: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    color: #4AC958;
   
    
    

}

.icon i {
    font-size: 60px;
    
    
}

input{
    width: 250px;
    padding: 10px 20px;
    margin: 10px 0px;
    outline-color: royalblue;
    font-size: 20px;
    /* text-align: center; */
    
}

button{
    width: 150px;
    padding: 7px 0px;
    font-size: 22px;
    background-color:#4AC958;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    color: white
}



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');



.my-footer{
    height: 10px;
    width: 100%;
    /* background-color: #00D77C; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    
}
.mediabar{
    height: 100px;
    /* background-color: tomato; */
    width: 80%;
    margin: auto;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.my-footer img{
    width: 30px;
    height: 30px;
    
}


.foot{
    /* background-color: yellow; */
    margin-bottom: 100px;
    /* height: 200px; */
    text-align: center;
    font-size: 16px;
}

.foot span{
    color: #030303;
    
}






.media-section a{
    text-decoration: none;
}


.media-section ul{
    align-items: center;

   
   
   
}

.media-section ul li{

    display: inline-flex;
    align-items: center;
   
    margin-top: 20px;
    color: black;
    
}




@media(max-width :786px) {

.container{
    height: 100vh;
    width: 100%;
    background-color: gray;
    
}


    .container{
        height: 120vh;
        width: 100%;
        /* background-color: bisque; */
        /* display: flex;
        align-items: center;
        justify-content: center;
         */
         /* padding-top: 100px; */
         
    }


    .btn button{

        padding: 20px 50px;



    }


    
.my-footer{
    height: 400px;
    width: 100%;
    /* background-color: gray; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

    .mediabar{
        height: 300px;
        /* background-color: tomato; */
        width: 100%;
        /* margin: auto; */
        display: flex;
        /* align-items: center; */
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }
    
}
